.copyrightBg{background:#fff;}
.copyRight{min-width:320px;}
.copyRight .copyLogo{width:75.5%; max-width:483px; padding:50px 0 20px 0; margin:0 auto;}
.copyRight .copyLogo img{width:100%; max-width:483px;}
.copyRight .buttons{width:80%; max-width:500px; margin:0 auto;background:#f13b2d;border-radius: 4px;}


.buttons a { height:50px;line-height:50px;display:block;color:#fff;text-align:center;}
}
.buttons a:link, .a:visited, .a:hover, .a:active {color:#f04236;}

.copy {margin-top:12%;text-align:center;font-size:14px;}
