.errorBg{background:#fff;}
.bdsError{min-width:320px;}
.bdsError .errorImg{width:75.5%; max-width:483px; padding:60px 0; margin:0 auto;}
.bdsError .errorImg img{width:100%; max-width:483px;}
.bdsError .buttons{width:50%; max-width:500px; margin:0 auto;background: red;}


.buttons a { height:36px;line-height:36px;display:block;color:#fff;text-align:center;}
